.pageCnt-main-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 29px;
  background-image: url(../../assests/img/bg-tablet-pattern.svg);
}

.pageCnt-first-cnt {
  width: 300px;
  height: 350px;
}

.pageCnt-second-cnt {
  width: 300px;
  height: 550px;
}

.pageCnt-second-cnt {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.pageCnt-second-txtCnt {
  display: flex;
  width: 300px;
  gap: 42px;
}

.pageCnt-second-txt-numTxt {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 29px;
  background-color: orange;
  min-width: 45px;
  border-radius: 70px;
  color: white;
}
