@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.card-cnt {
  margin-top: 60px;
  padding-top: 49px;
  display: flex;
  border-radius: 9px;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  width: 340px;
  height: 270px;
  background-color: aliceblue;
  position: relative;
}

.card-img-cnt {
  position: absolute;
  top: -40px;
}

.img {
  height: 80px;
  width: 80px;
}

.card-paraOne,
.card-paraTwo {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.card-paraOne {
  font-size: 26px;
  font-weight: 900;
  text-align: center;
}

@media screen and (max-width: 1050px) {
  .card-cnt {
    gap: 14px;
    width: 240px;
    height: 170px;
  }
  .img {
    height: 50px;
    width: 50px;
  }

  .card-paraOne {
    font-size: 12px;
    font-weight: 400;
    text-align: center;
  }
}
