.landingPage-header-cnt {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-card-cnt {
  display: flex;
  justify-content: space-around;
}
.landing-btn-cnt {
  padding-top: 39px;
  display: flex;
  justify-content: space-around;
}

.landing-cardMobile-cnt {
  display: none;
}

@media screen and (max-width: 740px) {
  .landing-card-cnt {
    display: none;
  }
  .landing-cardMobile-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 45px;
  }

  .landing-mobile-btn-cnt {
    display: flex;
    gap: 25px;
  }

  .landing-mobile-btn {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    cursor: pointer;
  }

  .landing-mobile-btn:hover {
    background-color: orange;
  }
}
