.landingPage-header-cnt {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-card-cnt {
  display: flex;
  justify-content: space-around;
}
.landing-btn-cnt {
  padding-top: 39px;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 440px) {
}
