@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Be+Vietnam+Pro&family=Bruno+Ace+SC&family=Montserrat+Alternates:wght@200&family=Nunito+Sans:ital,wght@0,400;1,200&display=swap');

.page-intro-cnt {
  display: flex;
  padding-top: 42px;
  justify-content: space-around;
}

.page-intro-first-cnt {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 300px;
  height: 250px;
}

.intro-img {
  width: 600px;
  height: 500px;
}

.page-intro-first-header,
.page-intro-first-para {
  font-family: 'Be Vietnam Pro', sans-serif;
}

.page-intro-first-para {
  font-size: 18px;
}
@media screen and (max-width: 440px) {
  .intro-img {
    width: 400px;
    height: 380px;
  }
}

@media screen and (max-width: 790px) {
  .page-intro-cnt {
    display: flex;
    flex-direction: column-reverse;
    padding-left: 10%;
    align-items: center;
  }

  .page-intro-first-cnt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding-left: 10%;
    width: 400px;
    height: 250px;
  }
}
