.lastComp-cnt {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(234, 159, 21);
  margin-top: 41px;
  height: 157px;
}

.lastComp-btn {
  width: 130px;
  height: 40px;
  border-radius: 70px;
  color: orange;
  background-color: whitesmoke;
  border: none;
  font-size: 15px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .lastComp-cnt {
    margin-left: 65px;
    flex-direction: column;
    height: 257px;
  }
}
